<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://egkoppel.github.io/product-sans/google-fonts.css">
    <title>Video Chat Application</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/dashboard">New Meeting</a></li>
            <li><a href="/dashboard">Join Meeting</a></li>
            <a href="/login" class="nav__loginBtn">Login / Signup</a>
        </ul>
    </nav>
    <section class="main">
        <div class="main__left">
            <div class="main__headingTagline">
                <h2>High Quality Video calls<br>with Messaging </h2>
                <p>Powered by Engineers, Used by People</p>
            </div>
            <div class="main__headingBtn">
                <h2 class="main__startedWith">Start a Video Call Now</h2>
                <a href="/login" class="main__loginBtn">LOGIN / SIGNUP</a>
            </div>
        </div>
        <div class="main__right">
            <img class="main__imgRight"src="/main/video_chat.svg" alt="video_chatSVG" />
        </div>
    </section>
</body>
</html>